# copy this file to /lib/systemd/system/

[Unit]
Description=Controller for Azimuth Telescopes
After=network-online.target

[Service]
Restart=on-failure
WorkingDirectory=/opt/pingoscope
ExecStart=/opt/pingoscope/pingoscope

[Install]
WantedBy=multi-user.target